.products-section{
    width: 100%;
    height: 100%;
}

.products-section > h2{
    font-size: 28px;

    margin-left: 3rem;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 70%;
    margin: 0 auto;
}